
@{
    ViewBag.Title = "User_list";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table-bordered table-hover">
    <tr>
        <th> Id </th>
        <th> OTP </th>
        <th>Email</th>
        <th>Password</th>
        <th>Delete</th>
    </tr>

    @foreach (var x in Model)
    {
        <tr>
            <td>@x.Id</td>
            <td>@x.otp</td>
            <td>@x.email</td>
            <td>@x.password</td>
            <td>
                <form action="/Home/remove">
                    <input type="hidden" name="id" value="@x.Id"/>
                    <button class="btn btn-primary"> Delete</button>
                </form>
            </td>
        </tr>
    }
</table>


